
.PostFotos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    margin-left: 200px;
    overflow: auto;
}

@media (max-width:994px) {
    .PostFotos{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

.DashPhoto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid white;
    padding:15px 10px
}

.CellPhoto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.CellPhoto h5{
    font-weight: 400;

}
.DataPhoto{
    display: flex;
    align-items: center;
}

.BackSidePhoto{
    padding-top: 15px;
    padding-bottom: 20px;
}

.Upload{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.Upload button{
    margin: 0px 10px;
}
.ButtonPhoto{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 32px;
    border: none;
    padding: 29px;
    max-width: 265px;
    margin: auto;
}

.ButtonDelete{
    background-color: #FF6969;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 17px;
    font-style: normal;
    font-weight: 440;
    line-height: normal;
    border-radius: 40px;
    border: none;
    padding: 15px;

    margin-top: -10px;

}

.ButtonModal{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    border: none;
    padding: 15px;
}

.ButtonInputImage {
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    color: white;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    border: none;
    padding: 15px;
  }

.PostFotos .Image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--color3);
  }
  .modal-content {
    border-radius: 20px !important;
    margin-top: 70px;

   }
   .modal-body {
    padding: 20px;
    border-radius: 19px !important;
    text-align: center;

   }
   
   .modal-body h1 {
    text-align: left;
   }

   @media (max-width:556px) {
    .ButtonModal, .ButtonInputImage{
        font-size: 1rem;
    }
    .modal-content {
        border-radius: 20px !important;
        margin-top: 50px;

       }
}